extends layout

block content
  h1= title
  p Welcooome to #{title}
    #wrapper
        // USER LIST
        h2 User List
        #userList
            table
                thead
                    th Content
                    th Cmd
                    th Delete?
                tbody
